<a href="https://colab.research.google.com/github/Eunjane/J-sMathematical.github.io-/blob/main/R%20program%20lab3_Park_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 3: Functions and Loops (20 points)**

#### **WRITE YOUR NAME HERE**

---
**Instructions**: Complete the lab below.
- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- Your completed lab must be submitted to Canvas as a pdf file by the end of the lab session
---




<br>

####<font color=red>Margins</font> (1 point)
* Margins are set to "None" before submitting assignment as pdf

<br>

---

<br>

####<font color=red>Organized</font> (1 point)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1. 
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

```
# 2. 
This will be the code block to answer the second part of a task
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

####<font color=red>Task 1</font>  (6 points)

1. (4 points) Create a function `quadratic_formula` that has the following attributes
* Input: Three single numbers `a`, `b`, `c` as function arguments
* Ouput: The solution to the qudratic equation
  * $\begin{align*}
\frac{-b \pm \sqrt{b^2 - 4ac}} {2a}
\end{align*}$
* Us `if` statements to potentially return three types of function outputs
  1. If $b^2 - 4ac$ is zero, only return the one solution/number
  2. If $b^2 - 4ac$ is less than zero, print a statement saying there are no zeros that are real numbers
  3. If $b^2 - 4ac$ is greater than zero, return the two real zeros as a single vector

<br>

2. (2 points) Run the following commands to confirm answers
```
quadratic_formula(1, 0, 0)
```
```
quadratic_formula(1, 0, 1)
```
```
quadratic_formula(1, 0, -1)
```

In [ ]:
#1
quadratic_formula <- function(a,b,c) {
    i = ((b^2)-(4*a*c))


  if ( i== 0) {
    answer1 = (-b - sqrt(i)/(2*a))
    return(answer1)
  }

   else if (i<0) {
    print("there are no zeros that are real numbers")
  }

    else if(i>0) {
    return(c(i,-i))
  }
}
quadratic_formula(1, 0, 0)
quadratic_formula(1, 0, 1)
quadratic_formula(1, 0, -1)

[1] 0

[1] "there are no zeros that are real numbers"

[1]  4 -4

<br>

####<font color=red>Task 2</font>  (4 points)

1. (2 points) Create a function `avg_diff` that has the following attributes
  * Inputs:
    * vector1 - a numeric vector
    * vector2 - a numeric vector
  * Ouput: A list of three objects providing
    1. the difference between the two vectors
    2. the average difference between the two vectors
    3. the length of the first vector
    * `if` vectors are not the same length, do not perform the calculation. Instead, print a warning statement that the vectors are not the same length

<br>

2. (2 points) Run the following commands to confirm answers
```
vec1 <- c(1, 2, 3, 4, 5, 6)
vec2 <- c(0, 1, 2, 3, 4, 5)
avg_diff(vec1, vec2)
```
```
vec1 <- c(1, 2, 3, 4, 5, 6)
vec2 <- c(0, 1, 2, 3, 4)
avg_diff(vec1, vec2)
```

In [ ]:
#2


avg_diff <- function(vec1,vec2) {
if(length(vec1)!=length(vec2))   #if function
 print("vectors are not the same length")
 else {
     sum_vec <- vec1 + vec2                             #sum of vec
     diff_vec<- vec1 - vec2                             #diff of vec
     sum_diff <- sum(diff_vec)                          #sum of diff vec
     avg_diff <- sum_diff/length(vec1)                  #avg of diff equation
     List <-list(diff_vec, avg_diff, length(vec1))       #put all values to list
     print(List)

     }
   }
vec1 <- c(1, 2, 3, 4, 5, 6)
vec2 <- c(0, 1, 2, 3, 4, 5)
avg_diff(vec1, vec2)

vec1 <- c(1, 2, 3, 4, 5, 6)
vec2 <- c(0, 1, 2, 3, 4)
avg_diff(vec1, vec2)

[[1]]
[1] 1 1 1 1 1 1

[[2]]
[1] 1

[[3]]
[1] 6

[1] "vectors are not the same length"

<br>

---

<br>

####<font color=red>Task 3</font>  (5 points)

1. (1 point) From the `mtcars` dataset, find the unique values of the `gear` variable. Print.

2. (2 point) Use a `for` loop to find the average `hp` for each unique `gear`. Show code and output.

3. (1 point) Which number of gears is associated with the highest horse power `hp`? State in a complete sentence.

4. (1 point) Which cars have 5 forward gears? State in a complete sentence.

In [ ]:
#1
data(mtcars)            #loaded the data and found unique values
unique(mtcars$gear)

[1] 4 3 5

In [ ]:
#2
data(mtcars)
gears <- unique(mtcars$gear)

for(g in gears) {
  avg_hp <-mean(subset(mtcars, gear==g)$hp)
  cat(g, avg_hp)
}

4 89.53 176.13335 195.6

In [ ]:
#3
max(mtcars$hp)                     #highest number of gears
subset(mtcars, hp==335)$gear

[1] 335

[1] 5

In [ ]:
#4
subset(mtcars, gear==5)       #Finding 5 gears
head(subset)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8

1 function (x, ...)
2 UseMethod("subset")

<br>

---

<br>

####<font color=red>Task 4</font>  (3 points)

1. (1 point) Use `tapply` to find the average `hp` for each unique number of forward gears (`gear`). Show code and output.

2. (1 point) Create a dataframe with two columns. One column should be unique `gear`. One column should be average `hp`

3. (1 point) Compare to the answer for task 3.2. Are they the same? Which approach is more efficient? Explain.

In [ ]:

#1.
print(tapply(data$hp,data$gear,mean)) #applied tapply function to see two averages at once. 

#2.
newdata<-data.frame("gear"=c(3,4,5),"hp"=c(176.1333,89.5000,195.6000))
print(newdata)                        #assigh the results to columns

       3        4        5
176.1333  89.5000 195.6000
  gear       hp
1    3 176.1333
2    4  89.5000
3    5 195.6000

3. To me, tapply is more efficient than using loop. Since tapple is able to look result much easier.

<br>