<a href="https://colab.research.google.com/github/Eunjane/J-sMathematical.github.io-/blob/main/R%20program%20lab4_Park.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 4: Working with JSON Format (22 points)**

#### **WRITE YOUR NAME HERE**

---
**Instructions**: Complete the lab below.
- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---




<br>

####<font color=red>Organized</font> (1 points)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1. 
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

```
# 2. 
This will be the code block to answer the second part of a task in a separate code cell
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

The following packages are needed to complete the lab

In [ ]:
install.packages("RCurl")    # package for working with urls
install.packages("RJSONIO")  # package for working with json files

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘bitops’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(RCurl)
library(RJSONIO)

<br>

---

<br>

####<font color=red>Task 1</font>  (2 points)

In this lab, we will work with data from the National Oceanic and Atmospheric Administration (NOAA). The data includes yearly departures from a baseline reference temperature from 1880 to 2016.

1. Load the JSON weather data from this [url](https://www.ncdc.noaa.gov/cag/global/time-series/globe/land_ocean/ytd/12/1880-2016.json) into R as a list called `weather_list`.
2. Print the class of `weather_list`.

In [ ]:
#1
weather_url <- getURL("https://www.ncdc.noaa.gov/cag/global/time-series/globe/land_ocean/ytd/12/1880-2016.json")
weather_list <- fromJSON(weather_url)

ERROR: ignored

In [ ]:
#2.
weather_list  <- fromJSON(apiResult) 
class(weather_list)

<br>

---

<br>

####<font color=red>Task 2</font> (4 points)

1. Use the `names()` function to determine list contents. Print these names.

<br>

2. There should be a list item called `description`, which includes details about the data. From this list item (`weather_list$description`), identify the units of measurement. State your answer in a complete sentence.

<br>

3. Which number denotes a missing value in the dataset? Answer in a complete sentence.

<br>

4. Temperature departures are measured as the deviation from the average temperature across a base time period. What is the base period in this dataset? State in a complete sentence.

In [ ]:
#1.
names(weather_list)
names(weather_list$data)
names(weather_list$description)

[1] "description" "data"

  [1] "1880" "1881" "1882" "1883" "1884" "1885" "1886" "1887" "1888" "1889"
 [11] "1890" "1891" "1892" "1893" "1894" "1895" "1896" "1897" "1898" "1899"
 [21] "1900" "1901" "1902" "1903" "1904" "1905" "1906" "1907" "1908" "1909"
 [31] "1910" "1911" "1912" "1913" "1914" "1915" "1916" "1917" "1918" "1919"
 [41] "1920" "1921" "1922" "1923" "1924" "1925" "1926" "1927" "1928" "1929"
 [51] "1930" "1931" "1932" "1933" "1934" "1935" "1936" "1937" "1938" "1939"
 [61] "1940" "1941" "1942" "1943" "1944" "1945" "1946" "1947" "1948" "1949"
 [71] "1950" "1951" "1952" "1953" "1954" "1955" "1956" "1957" "1958" "1959"
 [81] "1960" "1961" "1962" "1963" "1964" "1965" "1966" "1967" "1968" "1969"
 [91] "1970" "1971" "1972" "1973" "1974" "1975" "1976" "1977" "1978" "1979"
[101] "1980" "1981" "1982" "1983" "1984" "1985" "1986" "1987" "1988" "1989"
[111] "1990" "1991" "1992" "1993" "1994" "1995" "1996" "1997" "1998" "1999"
[121] "2000" "2001" "2002" "2003" "2004" "2005" "2006" "2007" "2008" "2009"
[131] "2010" "2011" "2012" "2013" "2014" "2015" "2016"

[1] "title"       "units"       "base_period" "missing"

In [ ]:
#2.
(weather_list$description)$units

[1] "Degrees Celsius"

-> The unit of measurement is Degree Celsius.

In [ ]:
#3.
(weather_list$description)$missing

ERROR: ignored

Number denotes a missing value is -999.

<br>

---

<br>

####<font color=red>Task 3</font> (5 points)

1. Store the list item data as another variable called `weather_data`. Print the contents of `weather_data`.

<br>

2. Store the `names()` of `weather_data` as another variable called `weather_years`. Print the contents of `weather_years`.

<br>

3. Create a dataframe called `weather`, with one column called `year` for the year of the temperature departure observed and another column called `temp` for the tempertuare departure. Show the first few lines using `head()`.

<br>

4. What is the class of each column of the dataframe `weather`? State in a complete sentence.

<br>

5. Convert the columns of `weather` to a numeric class using `as.numeric()`. Show the first few lines using `head()`.

In [ ]:
#1
weather_data <- weather_list$data
weather_data

#2
weather_years <- names(weather_data)
weather_years

#3
weather <- data.frame(year = weather_years, temp = weather_data)
rownames(weather) <- NULL
head(weather)

#5
as.numeric(weather$year, weather$temp)
weather$year <- as.numeric(weather$year)

ERROR: ignored

<br>

---

<br>

####<font color=red>Task 4</font> (3 points)

1. What is the average temperature departure for observations before 1939 (` < 1939`)? State your answer in a complete sentence and be sure to include units of measurement. Round to the nearest 2 decimal places.

<br>

2. What is the average temperature departure for observations after 1980 (` > 1980`)? State your answer in a complete sentence and be sure to include units of measurement. Round to the nearest 2 decimal places.

<br>

3. Are the average temperature departures different? Explain your answer.

In [ ]:
sd(weather$temp[weather$year > 1930 & weather$year < 1950])

<br>

---

<br>

####<font color=red>Task 5</font> (3 points)

1. What is the standard deviation of temperature departures for observations between 1930 and 1950 (use `sd()`)? State your answer in a complete sentence and be sure to include units of measurement. Round to the nearest 2 decimal places.

<br>

2. What is the standard deviation of temperature departures for observations between 1880 and 1900 (use `sd()`)? State your answer in a complete sentence and be sure to include units of measurement. Round to the nearest 2 decimal places.

<br>

3. Are the standard deviations of the temperature departures different? Explain your answer based on your understanding of standard deviation.

<br>

---

<br>

####<font color=red>Task 6</font> (4 points)

1. Plot the data using the following script
```
plot(weather$year, weather$temp, 
     xlab = "Year", ylab = "Temperature Departure",
     type = "l")
abline(h = 0, lty = 2)
```

<br>

Matching your observations to the plot:
2. Match your observations from Task 4 to the plot. Do they agree? Explain in complete sentences.

<br>

3. Match your observations from Task 5 to the plot. Do they agree? Explain in complete sentences.

<br>

4. What is the overall trend you observe from the plot? State your answer in a complete sentence.